.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: rgb(0, 0, 0);
    color: #f1eaea;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: #a507ee;
}
.container h2{
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #1577f8;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: rgb(146, 2, 202);
    color: azure;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;
}
.container .correct{
    background: rgb(6, 134, 1);
    border-color: rgb(4, 248, 167);
}
.container .wrong{
    background: rgb(219, 18, 18);
    border-color: rgb(255, 142, 127);
}